<!-- <h1>This is HOST APP</h1>
<br />
<a routerLink="">Home</a>&nbsp;&nbsp;
<a routerLink="/blogs">Blog List</a> -->
<nav class="componentNavbar navbar navbar-expand-lg px-3 px-lg-5 py-3">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="./assets/images/logo.svg" width="100" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img width="25px" src="./assets/images/burgerMenu.svg" alt="">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="d-flex navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item me-3 my-auto">
                    <a class="nav-link text-decoration-none" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show" [routerLink]="['/blogs']">Blogs</a>
                </li>
                <li class="nav-item dropdown">
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>